/*Colores que podre llegar a utilizar al estilar las 5 paginas*/
@keyframes tipsy {
  0% {
    transform: translate(5px, 5px); }
  16% {
    transform: rotate(14deg); }
  32% {
    transform: rotate(-13deg); }
  48% {
    transform: translate(-3px, -3px); }
  64% {
    transform: rotate(-15deg); }
  80% {
    transform: rotate(16deg); }
  95% {
    transform: translate(2px, 3px); }
  100% {
    transform: translate(-4px, -5); } }

.scroll {
  overflow: auto; }

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box; }

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.6fr 1fr 1fr 1fr 1fr 1fr 0.3fr;
  gap: 0px 0px;
  grid-template-areas: "header header header header" "main main aside aside" "main main aside aside" "main main aside aside" "main main aside aside" "main main aside aside" "footer footer footer footer"; }
  .grid--noAside {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.6fr 1fr 1fr 1fr 1fr 1fr 0.0001fr;
    gap: 0px 0px;
    grid-template-areas: "header header header header" "main main main main" "main main main main" "main main main main" "main main main main" "main main main main" "footer footer footer footer"; }

@media (max-width: 768px) {
  .grid {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.25fr 0.5fr 0.5fr 0.4fr 0.3fr 0.4fr;
    gap: 0px 0px;
    grid-template-areas: "header header header header" "main main main main" "main main main main" "aside aside aside aside" "aside aside aside aside" "footer footer footer footer";
    justify-items: center;
    align-items: center; }
    .grid--noAside {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 0.02fr 1fr 1fr 1fr 0.3fr 0.3fr 0.05fr;
      gap: 0px 0px;
      grid-template-areas: "header header header header" "main main main main" "main main main main" "main main main main" "main main main main" "main main main main" "footer footer footer footer"; } }

@media (max-width: 420px) {
  .grid {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 0.7fr 0.6fr 0.3fr 0.5fr 0.6fr;
    gap: 0px 0px;
    grid-template-areas: "header header header header" "main main main main" "main main main main" "aside aside aside aside" "aside aside aside aside" "footer footer footer footer";
    justify-items: center;
    align-items: center; }
    .grid--noAside {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 0.03fr 0.5fr 0.4fr 1fr 1fr 1fr 0.03fr;
      gap: 0px 0px;
      grid-template-areas: "header header header header" "main main main main" "main main main main" "main main main main" "main main main main" "main main main main" "footer footer footer footer"; } }

@media (max-width: 350px) {
  .grid {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 0.7fr 0.6fr 0.2fr 0.2fr 0.4fr;
    gap: 0px 0px;
    grid-template-areas: "header header header header" "main main main main" "main main main main" "aside aside aside aside" "aside aside aside aside" "footer footer footer footer";
    justify-items: center;
    align-items: center; }
    .grid--noAside {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 0.25fr 1fr 1fr 1fr 1fr 1fr 0.5fr;
      gap: 0px 0px;
      grid-template-areas: "header header header header" "main main main main" "main main main main" "main main main main" "main main main main" "main main main main" "footer footer footer footer"; } }

.header {
  grid-area: header;
  background-color: #090A0B;
  height: 10vh;
  width: 100vw;
  display: inline-flex;
  align-items: center;
  padding: 1vh; }
  .header__icon {
    width: 7vh;
    height: 7vh;
    margin-left: -18px;
    margin-right: -0.2%;
    margin: auto; }
    .header__icon:hover {
      animation: tipsy 1.8s ease-in-out; }

.nav {
  margin: auto;
  align-items: center; }
  .nav__searchLogin {
    justify-content: right; }
  .nav-link {
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: bolder;
    white-space: nowrap;
    font-family: "Josefin Sans", sans-serif;
    color: whitesmoke; }
    .nav-link:hover {
      color: #931621; }

.dropdown-menu {
  background-color: #090A0B;
  font-family: "Josefin Sans", sans-serif;
  font-weight: bolder;
  font-size: 0.9rem; }

.dropdown-item {
  color: whitesmoke; }
  .dropdown-item:hover {
    color: whitesmoke;
    background-color: #a2a7a550; }

.container-custom {
  width: auto; }

.search {
  width: 25.5vw; }

@media (max-width: 768px) {
  .header {
    height: 12vh;
    width: 100vw; }
  .collapsable {
    background-color: #090A0B;
    border-radius: 2%; }
  .o0 {
    order: 0; }
  .o1 {
    order: 1; }
  .o2 {
    order: 2; }
  .button {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    padding: 3px; }
  .container-custom {
    width: 100%; }
  .search {
    width: 90vw;
    margin-right: 10px;
    margin: auto; } }

@media (max-width: 992px) {
  .header__icon {
    transform: translate(0px, -10px); } }

@media (max-width: 420px) {
  .header {
    height: 10vh;
    flex-direction: column; }
  .nav ul {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around; }
    .nav ul li {
      padding: 1.5vh 0vh; }
  .search {
    width: 70vw;
    margin-right: 10px;
    margin: auto;
    padding: auto; }
  .collapsable {
    background-color: #090A0B;
    border-radius: 2%; } }

@media (min-width: 768) {
  .div-width0 {
    width: auto; } }

.main {
  grid-area: main;
  background-color: #A2A7A5;
  width: 70vw;
  height: 80vh;
  padding: 5vh; }
  .main--index {
    background-image: url(https://finde.latercera.com/wp-content/uploads/2018/08/C6A7449.jpg);
    background-color: #323232;
    background-blend-mode: soft-light;
    background-repeat: no-repeat;
    background-size: cover; }
  .main--noAside {
    width: 100vw; }
  .main--recetario {
    background-color: #241B19;
    background-blend-mode: soft-light;
    background-image: url(https://medahuman.com/wp-content/uploads/2020/07/cocktail-collage-copy-1340x754.jpg);
    overflow: scroll; }
  .main__titulo {
    color: #241B19;
    font-family: "Josefin Sans", sans-serif;
    font-weight: bolder;
    font-size: 5vh;
    margin-top: -2vh; }
    .main__titulo--index {
      color: whitesmoke; }
    .main__titulo--recetario {
      padding: 5vh;
      font-size: 8vh;
      color: #d8ba8f;
      text-shadow: 2px 2px 3px #090A0B; }
  .main__subtitulo {
    color: #241B19;
    font-family: "Josefin Sans", sans-serif;
    font-weight: bolder;
    font-size: 3vh; }
    .main__subtitulo--article {
      font-size: 2vh; }
  .main__content {
    background-color: #090A0B;
    padding: 10vh 5vw;
    border-radius: 1.5%;
    border: 1.5px solid #090A0B; }
    .main__content--sm {
      background-color: #1D201F; }
  .main__card {
    background-color: #3c3130; }
    .main__card--dark {
      background-color: #241B19; }
    .main__card--light {
      background-color: #755a52; }
  .main__text {
    color: #d8ba8f;
    font-family: "Josefin Sans", sans-serif; }
    .main__text--highlight {
      color: #daab5e; }
    .main__text--dark {
      color: #241B19; }
    .main__text--black {
      color: #090A0B; }
    .main__text--paragraph {
      font-size: large; }
    .main__text--light {
      color: #DFE2E1; }
    .main__text--intermediate {
      color: #A2A7A5; }
  .main__paginationNav {
    margin: 20px; }
  .main__paginationIcon {
    height: 10px;
    color: #d8ba8f; }
  .main__btn {
    color: #241B19;
    background-color: #d8ba8f;
    border-color: #241B19;
    font-family: "Josefin Sans", sans-serif;
    font-weight: bolder; }
    .main__btn:hover {
      background-color: #241B19;
      border-color: #755a52;
      color: #755a52; }
    .main__btn--dark:hover {
      background-color: #daab5e;
      color: #241B19;
      border-color: #241B19; }
    .main__btn--pagination {
      background-color: #090A0B;
      border-color: #241B19;
      color: #daab5e;
      padding: 15px;
      font-size: large; }
    .main__btn--active {
      background-color: #1D201F; }
  .main__image {
    width: 80%; }
  .main__form {
    margin-right: 5vw;
    margin-bottom: auto;
    width: 40%;
    float: right; }
    .main__form--sm {
      width: 35%; }
  .main__alert {
    border-color: #241B19; }
    .main__alert--container {
      border-radius: 2%; }
    .main__alert--text {
      text-shadow: 2px 2px 3px #090A0B;
      padding: 2%;
      font-size: x-large; }
    .main__alert--title {
      font-weight: bolder; }
  .main__parrafo {
    color: #d8ba8f;
    font-family: "Josefin Sans", sans-serif; }
    .main__parrafo--index {
      color: whitesmoke; }
    .main__parrafo--light {
      font-weight: lighter; }
    .main__parrafo--input {
      font-size: 20px; }
  .main__input {
    font-family: "Josefin Sans", sans-serif;
    font-weight: bolder;
    font-size: 1rem;
    padding: 5px; }
  .main__image {
    border-radius: 5%; }
  .main__li {
    list-style: square;
    color: #daab5e; }
  .main__listItem {
    font-family: "Josefin Sans", sans-serif;
    font-weight: bolder;
    font-size: 1rem; }
  @media (max-width: 768px) {
    .main .main {
      width: 100vw;
      height: auto; }
      .main .main--noAside {
        height: 100%; } }
  @media (max-width: 420px) {
    .main .main {
      height: 38vh; }
      .main .main--noAside {
        height: 100%; }
      .main .main--alert {
        height: 30vh; } }
  @media (max-width: 350px) {
    .main .main {
      height: auto; }
      .main .main--noAside {
        height: 100%; } }

.footer {
  grid-area: footer;
  background-color: #090A0B;
  width: 100vw;
  height: 10vh;
  padding: 1vh;
  /*Hay guion bajo simple, deberia haber doble, corregir luego*/ }
  .footer--noAside {
    margin-top: 50px;
    margin-left: -58px;
    margin-right: -390px; }
  .footer_socialNetworks {
    display: flex;
    justify-content: center;
    list-style: none; }
    .footer_socialNetworks li i a {
      display: inline-block;
      text-decoration: none;
      transition: transform 0.4s;
      color: whitesmoke;
      padding: 20px;
      font-size: 1.5rem; }
      .footer_socialNetworks li i a:hover {
        transform: scale(1.25); }
  .footer_footerText {
    color: whitesmoke;
    font-family: "Josefin Sans", sans-serif;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: -3%; }

@media (max-width: 768px) {
  .footer {
    height: 20vh; } }

@media (max-width: 420px) {
  .footer {
    height: 20.5vh; } }

@media (max-width: 350px) {
  .footer {
    height: 20vh; } }

.aside {
  /*Posibilidad de descartar parrafo item y comentario y 
    poner en aside la font family, definir en entrega final 
    (pueden ser de uso mas adelante)*/
  grid-area: aside;
  background-color: #241B19;
  width: 30vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-blend-mode: soft-light;
  background-size: 400px;
  background-image: url(https://medahuman.com/wp-content/uploads/2020/07/cocktail-collage-copy-1340x754.jpg);
  /*Seccion que no hace nada pero voy a seguir buscando una manera 
        de implementar, capaz sin js es complicado*/ }
  .aside__titulo {
    font-family: "Josefin Sans", sans-serif;
    color: whitesmoke;
    font-size: 3vh;
    text-align: center;
    padding: 3vh; }
  .aside__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60%;
    width: 80%;
    padding-top: 4.8%;
    margin: auto;
    border-radius: 2.5%;
    border: 3px solid #241B19;
    flex-wrap: nowrap;
    background-color: #3c3130;
    background-blend-mode: soft-light;
    background-size: cover;
    background-image: url("../assets/img/bg-login.png"); }
  .aside__image {
    width: 90px;
    height: 90px;
    transition: ease-in-out 1s; }
    .aside__image:hover {
      transform: scale(1.2);
      border: 2px solid #DFE2E1; }
  .aside__father {
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    list-style: none;
    flex-wrap: wrap; }
  .aside__parrafo {
    font-family: "Josefin Sans", sans-serif; }
  .aside__subtitulo {
    font-size: x-large;
    font-family: "Josefin Sans", sans-serif; }
  .aside__item {
    font-family: "Josefin Sans", sans-serif; }
  .aside__comentario {
    font-family: "Josefin Sans", sans-serif; }
  .aside__btn {
    border: #d8ba8f solid 1px;
    margin: 4px;
    font-family: "Josefin Sans", sans-serif;
    font-weight: bolder;
    color: #d8ba8f;
    width: 6.8rem;
    height: 3rem;
    margin: 10px;
    background-color: #3c3130; }
    .aside__btn:hover {
      color: #d8ba8f;
      background-color: #241B19;
      border-color: #755a52;
      box-shadow: #241B19; }

.input-login {
  width: 80%;
  margin: 0px auto;
  font-family: "Josefin Sans", sans-serif;
  border: 1px solid #241B19; }

@media (max-width: 1115px) {
  .column {
    flex-direction: column;
    width: 80%; }
  .aside__btn {
    width: 85%; } }

@media (max-width: 768px) {
  .aside {
    width: 100vw;
    height: 35vh; }
    .aside__content {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      height: 80%;
      margin: auto; } }

@media (max-width: 768px) and (max-width: 420px) {
  .aside {
    height: 40vh;
    margin: auto; }
    .aside__content {
      width: 90vw; }
  .input-login {
    min-width: 160px; } }

@media (max-width: 350px) {
  .aside {
    height: 60vh; }
    .aside__content {
      flex-direction: column; } }
