$black: #090A0B;
$wine: #931621;
$silver: #A2A7A5;
$coal: #1D201F;
$platinum: #DFE2E1;
$steel: #a2a7a550;
/*Colores que podre llegar a utilizar al estilar las 5 paginas*/
$dark-brown: #241B19;
$white: whitesmoke;