.grid {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-template-rows: 0.6fr 1fr 1fr 1fr 1fr 1fr 0.3fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "header header header header"
      "main main aside aside"
      "main main aside aside"
      "main main aside aside"
      "main main aside aside"
      "main main aside aside"
      "footer footer footer footer"; 

        &--noAside {
            display: grid; 
            grid-template-columns: 1fr 1fr 1fr 1fr; 
            grid-template-rows: 0.6fr 1fr 1fr 1fr 1fr 1fr 0.0001fr; 
            gap: 0px 0px; 
            grid-template-areas: 
              "header header header header"
              "main main main main"
              "main main main main"
              "main main main main"
              "main main main main"
              "main main main main"
              "footer footer footer footer"; 
          }
  }

@media (max-width: 768px){
  .grid {
      display: grid; 
      grid-auto-columns: 1fr; 
      grid-template-columns: 1fr 1fr 1fr 1fr; 
      grid-template-rows: 0.25fr 0.5fr 0.5fr 0.4fr 0.3fr 0.4fr; 
      gap: 0px 0px; 
      grid-template-areas: 
        "header header header header"
        "main main main main"
        "main main main main"
        "aside aside aside aside"
        "aside aside aside aside"
        "footer footer footer footer"; 
      justify-items: center; 
      align-items: center;
      &--noAside {
        display: grid; 
        grid-template-columns: 1fr 1fr 1fr 1fr; 
        grid-template-rows: 0.02fr 1fr 1fr 1fr 0.3fr 0.3fr 0.05fr; 
        gap: 0px 0px; 
        grid-template-areas: 
          "header header header header"
          "main main main main"
          "main main main main"
          "main main main main"
          "main main main main"
          "main main main main"
          "footer footer footer footer"; 
      }
    }
  }
  
@media (max-width: 420px){
.grid {
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-template-rows: 0.2fr 0.7fr 0.6fr 0.3fr 0.5fr 0.6fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "header header header header"
      "main main main main"
      "main main main main"
      "aside aside aside aside"
      "aside aside aside aside"
      "footer footer footer footer"; 
    justify-items: center; 
    align-items: center; 
    &--noAside {
      display: grid; 
      grid-template-columns: 1fr 1fr 1fr 1fr; 
      grid-template-rows: 0.03fr 0.5fr 0.4fr 1fr 1fr 1fr 0.03fr; 
      gap: 0px 0px; 
      grid-template-areas: 
        "header header header header"
        "main main main main"
        "main main main main"
        "main main main main"
        "main main main main"
        "main main main main"
        "footer footer footer footer"; 
    }
  }
}

@media (max-width: 350px){
  .grid {
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-template-rows: 0.2fr 0.7fr 0.6fr 0.2fr 0.2fr 0.4fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "header header header header"
      "main main main main"
      "main main main main"
      "aside aside aside aside"
      "aside aside aside aside"
      "footer footer footer footer"; 
    justify-items: center; 
    align-items: center;
    &--noAside {
      display: grid; 
      grid-template-columns: 1fr 1fr 1fr 1fr; 
      grid-template-rows: 0.1fr 1fr 1fr 1fr 1fr 1fr 0.5fr; 
      gap: 0px 0px; 
      grid-template-areas: 
        "header header header header"
        "main main main main"
        "main main main main"
        "main main main main"
        "main main main main"
        "main main main main"
        "footer footer footer footer"; 
    }
  }
}
