.header{
    grid-area: header;
    background-color: $black;
    height: 10vh;
    width: 100vw;
    display: inline-flex;
    align-items: center;
    padding: 1vh;
        &__icon{
            width: 7vh;
            height: 7vh;
            margin-left: -18px;
            margin-right: -0.2%;
            margin: auto;
                &:hover{
                    animation: tipsy 1.8s ease-in-out;
                }
        }
        
 }

 .nav{
     margin: auto;
     align-items: center;
     &__searchLogin{
         justify-content: right;
     }
     &-link{
        text-decoration: none;
        font-size: 0.9rem;
        font-weight: bolder;
        white-space: nowrap;
        font-family: $base-font;
        color: $white;
            &:hover{
                color: $wine;
            }
     }
 }

 .dropdown{
        &-menu{
            background-color: $black;
            font-family: $base-font;
            font-weight: bolder;
            font-size: 0.9rem;
            
        }
        &-item{
            color: $white;
            &:hover{
            color: $white;
            background-color: $steel;
        }}
 }


 .container-custom{ 
     width: auto;
 }

 .search{
     width: 25.5vw;
 }
 
 



@media (max-width: 768px){
    .header{
        height: 12vh;
        width: 100vw;
    }
    
    .collapsable{
        background-color: $black;
        border-radius: 2%;
    }


    .o0{
        order: 0;
    }

    .o1{
        order: 1;
    }

    .o2{
        order: 2;
    }
    
    .button{
        display: inline-block;
        width: 1.5em;
        height: 1.5em;
        vertical-align: middle;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        padding: 3px;
    }
    .container-custom{ 
        width: 100%;
    }

    .search{
        width: 90vw;
        margin-right: 10px;
        margin: auto;
    }

}
@media(max-width: 992px){
   
    .header{
        &__icon{
            transform: translate(0px, -10px);
        }
    }
}
@media (max-width: 420px){
    .header{
        height: 10vh;
        flex-direction: column;
  
    }

  
     .nav ul{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
            & li{
                padding: 1.5vh 0vh;
            }
    }

    .search{
        width: 70vw;
        margin-right: 10px;
        margin: auto;
        padding: auto;
    }

    .collapsable{
        background-color: $black;
        border-radius: 2%;
    }
}

@media (min-width: 768){
    .div-width0{
        width: auto;
   
   }

   


}